### Gradle stuff
.gradle
build/
gradle-app.setting

### Maven stuff
target/

### IntelliJ stuff
.idea/
*.iml
*.ipr
*.iws
out/
classes/
.idea_modules/

### Eclipse stuff
.project
.settings
.classpath

### Misc stuff
/bin/
.vscode/